<h3 class="title is-4">Favicons</h3>
<div class="media" style="align-items: center">
  <div class="media-left">
    <img src="/icon/favicon.png" />
  </div>
  <div class="media-content">
    <div class="block">
      <code>/icon/favicon.png</code>
      <span class="tag">114px &times; 114px</span>
    </div>
    <div class="block">
      <code>/icon/favicon.ico</code>
      <span class="tag">64px &times; 64px</span>
    </div>
  </div>
</div>
