<h3 class="title is-4">Favicons</h3>
{% for file in favicons %}
<div class="media">
  <div class="media-left">
    <img src="{{ file.filepath }}" />
  </div>
  <div class="media-content">
    <div class="tags">
      <span class="tag">{{ file.width }} &times; {{ file.height }}</span>
    </div>
    <code>{{ file.filepath }}</code>
  </div>
</div>
{% endfor %}
