<h3 class="title is-4">Favicons</h3>
<div class="media">
  <div class="media-left">
    <img src="/icon/favicon.ico" />
  </div>
  <div class="media-content">
    <div class="tags">
      <span class="tag">64px &times; 64px</span>
    </div>
    <code>/icon/favicon.ico</code>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img src="/icon/favicon.png" />
  </div>
  <div class="media-content">
    <div class="tags">
      <span class="tag">114px &times; 114px</span>
    </div>
    <code>/icon/favicon.png</code>
  </div>
</div>
