<h3 class="title is-4">Dark Foreground over White Background</h3>
<h4 class="subtitle is-6">A standard logo for use over white backgrounds</h4>
<p class="block tags">
  <span class="tag">555px &times; 342px</span>
  <span class="tag">300dpi</span>
</p>
<section class="hero is-dark">
  <div class="hero-body has-text-centered">
    <img src="/logo/logo--dark-over-white--555px--300dpi.jpg" />
  </div>
</section>
<hr>
<h3 class="title is-4">Dark Foreground over Transparent Background</h3>
<h4 class="subtitle is-6">A transparent logo for use over light backgrounds</h4>
<span class="tag is-warning is-large">#TODO</span>
<hr>
<h3 class="title is-4">White Foreground over Transparent Background</h3>
<h4 class="subtitle is-6">A transparent logo for use over dark backgrounds</h4>
<p class="block tags">
  <span class="tag">650px &times; 373px</span>
  <span class="tag">144dpi</span>
</p>
<section class="hero is-dark">
  <div class="hero-body has-text-centered">
    <img src="/logo/logo--white-over-trans--650w--144dpi.png" />
  </div>
</section>
<hr>
<h3 class="title is-4">For CommerceLayer.io</h3>
<h4 class="subtitle is-6">Displays on Checkout and Invoice/Receipt</h4>
<p class="block tags">
  <span class="tag">200px &times; 123px</span>
</p>
<section class="hero is-dark">
  <div class="hero-body has-text-centered">
    <img src="/logo/logo-checkout--200px.jpg" />
  </div>
</section>
