<nav class="navbar is-light is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item has-text-weight-bold">Brand Assets</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="#colors" class="navbar-item">Colors</a>
        <a href="#logo" class="navbar-item">Logo</a>
        <a href="#icons" class="navbar-item">Icons</a>
      </div>
    </div>
  </div>
</nav>
