{% for img in touch %}
<div class="media block">
  <div class="media-left">
    <img src="{{ img.filepath }}" alt="{{ img.filename }}">
  </div>
  <div class="media-content">
    <div class="tags">
      <span class="tag">{{ img.width }} &times; {{ img.height }}</span>
    </div>
    <div class="block">
      <code>{{ img.filename }}</code>
    </div>
  </div>
</div>
{% endfor %}
