<div class="media block" style="align-items: center">
  <div class="media-left">
    <img src="/icon/apple-touch-icon.png">
  </div>
  <div class="media-content">
    <div>
      <code>/icon/apple-touch-icon.png</code>
      <span class="tag">57px &times; 57px</span>
    </div>
  </div>
</div>
<div class="block">
  <h3 class="subtitle is-6">More sizes</h3>
  <ul>
    <li>
      <code>apple-touch-icon-57x57.png</code>
    </li>
    <li>
      <code>apple-touch-icon-72x72.png</code>
    </li>
    <li>
      <code>apple-touch-icon-72x72.png</code>
    </li>
    <li>
      <code>apple-touch-icon-76x76.png</code>
    </li>
    <li>
      <code>apple-touch-icon-114x114.png</code>
    </li>
    <li>
      <code>apple-touch-icon-120x120.png</code>
    </li>
    <li>
      <code>apple-touch-icon-144x144.png</code>
    </li>
    <li>
      <code>apple-touch-icon-152x152.png</code>
    </li>
    <li>
      <code>apple-touch-icon-180x180.png</code>
    </li>
  </ul>
</div>
